{% extends "base.html" %}

<!--
    Этот шаблон используется для подтверждения удаления заказа.
    Он отображается в виде модального окна с затемненным фоном.
-->

{% block content %}
<div class="modal fade show" style="display: block; background:rgba(0,0,0,0.5)"> <!-- Контейнер для модального окна-->
    <div class="modal-dialog"> <!-- Основной контейнер для содержимого модального окна -->
        <div class="modal-content"> <!-- Основной контейнер для содержимого модального окна -->
            <div class="modal-header bg-danger text-white"> <!-- Внутренний контейнер для содержимого модального окна -->
                <h5 class="modal-title">Подтверждение удаления</h5> <!-- Заголовок -->
            </div>
            <div class="modal-body"> <!-- Основное содержимое модального окна -->
                <p>Вы уверены, что хотите удалить заказ №{{ order.id }} (Стол {{order.table_number}})?</p> 
                <!-- Сообщение включает ID заказа и номер стола,
                чтобы пользователь мог убедиться, что удаляет правильный заказ.-->
            </div>
            <div class="modal-footer"> <!-- Нижняя часть модального окна -->
                <form method="post">
                    {% csrf_token %} <!-- CSRF-токен защищает форму от межсайтовой подделки запросов -->
                    <button type="submit" class="btn btn-danger">Удалить</button> <!--   Кнопка "Удалить" отправляет форму на сервер -->
                </form>
            </div>        
        </div>
    </div>
</div>
{% endblock %}
